.page{
    height: 100%;
}
.trailer{
    display: flex;
}

.trailerthumb{
    height:238px;
    width:424px;
}

.trailerthumb img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.trailerinfo div{
    margin: 0 0 10px 24px;
}

.statistics{
    color:#aaaaaa;
    font-size: 12px;
}

.playlist{
    margin: 24px 0;
}