.page{
    height: 100%;
}

.box{
    height:100%;
    margin: 60px 0 0 248px;
    background-color: #181818;
    white-space: pre-line;
    color: white;
}

.banner{
    height: 350px;
    width: 100%;
}

.banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.name{
    display: flex;
    max-width: 1300px;
    margin: 15px auto;
    padding: 0 24px;
}

.logo{
    width: 80px;
    height: 80px;
    margin: 0 24px 0 0;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.channel{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.title{
    font-size: 30px;
}

.subs{
    font-size: 14px;
    color:#aaaaaa;
}

.subbutton{
    width: 72px;
    height:40px;
    color:white;
    background-color: #c00;
    border: 0;
    border-radius: 2px;
    margin: 0 0 0 50px;
    cursor: pointer;
}

.tab{
    display: flex;
    list-style-type: none;
    height: 47px;
    max-width: 1284px;
    margin: 0 auto;
    padding:0 24px;
    overflow: hidden;
}

.tab li{
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0 32px;
    color:#aaaaaa;
    cursor: pointer;
    vertical-align: middle;
}

.tab li:hover{
    color:#eeeeee
}

.tabpage{
    background-color: #0f0f0f;
    padding: 24px 0;
}

.container{
    height: 100%;
    color:white;
    max-width: 1300px;
    margin: 0 auto;
    padding : 0 24px;
}

.height{
    height:100%;
}

.stat{
    margin:0 0 0 50px;
}

.stat p{
    line-height: 20px;
    padding:5px 0;
    border-bottom: 1px solid #585858;
}

.infomation{
    display: flex;
    width: 100%;
    font-size: 14px;
}

.descript div{
    border-bottom: 1px solid #585858;
}

.descript span{
    color:#aaaaaa;
    font-size: 13px;
}

.descript{
    width:60%;
}

