.playlist{
    position: relative;
    max-width: 1284px;
    height:300px;
    border-top: 1px solid #272727;
}

.title{
    display: flex;
    padding: 24px 0;
}

.title span{
    cursor: pointer;
}

.playtitle{
    font-weight: 500;
    font-size: 16px;
}

.playall{
    margin:0 0 0 20px;
    font-size: 14px;
    color:#aaaaaa;
}

.videos{
    display: flex;
    overflow: hidden;
    z-index: 2;
}

.buttonposition{
    position: absolute;
    top:40%;
    background-color: #202020;
    width:40px;
    height:40px;
    border-radius: 50%;
}

.buttonstyle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.buttonposition:active{
    background-color: #fff;
    opacity: 0.3;
}