.box{
    padding:20px;
    background-color: #181818;
    color:white;
    margin:60px 0 0 230px;
}

.short{
    display: flex;
    justify-content: center;
    height: 90vh;
    padding:15px 0;
}

.shortvideo{
    display: flex;
    height:100%;
    width:730px;
}

.video{
    position: relative;
    width: 655px;
    height: 100%;
    background-color: #000000;
    border-radius: 15px;
}

.video img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.title{
    position: absolute;
    left:10px;
    bottom:10px;
}

.name{
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
}

.name img{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 5px;
}

.channelname{
    display: flex;
    align-items: center
}

.subscribe{
    width:72px;
    height:40px;
    border-radius: 3px;
    background-color: #CC0000;
    text-align: center;
    line-height: 2.5;
}

.menu{
    display: flex;
    flex-direction: column;
    width: 75px;
    height: 100%;
    margin-left: 10px;
    color:#7e7e7e;
    justify-content: flex-end;
    align-items: center;
    fill:#7e7e7e;
}

.good{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.like{
    display: none;
    position: absolute;
    background-color: #181818;
}

.good:hover .like{
    display: block;
}

.bad{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}